/* style.css */
body {
  margin: 0;
}

.custom-header {
  background-color: #1e87f0;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-header-text {
  margin: 0; /* Remove default margin for the h1 element */
  font-size: 24px;
  cursor: pointer;
}

.header-controls {
  display: flex;
  align-items: center;
}

.header-controls-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; /* Adjust the gap between elements as needed */
}

.message-icon {
  font-size: 40px; /* Increase the icon size */
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  align-items: center;
}
.search-bar {
  padding: 5px;
  border: none;
  border-radius: 4px;
  font-size: 13.4px;
}

.search-button {
  background-color: #4b0831; /* Adjust the background color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #1566d3; /* Adjust the hover background color as needed */
}

.logout-button {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff4500;
}
