/* Login.css */
.custom-container {
    /* Center the container horizontally and add some spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport */
  }
  
  .custom-form {
    /* Custom styles for the form container */
    width: 70%;
    max-width: 400px; /* Limit the maximum width of the form */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .custom-form h1 {
    /* Custom styles for the form title */
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .custom-label {
    /* Custom styles for labels */
    font-weight: bold;
    font-size: 1rem;
  }
  
  .custom-input {
    /* Custom styles for input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
  }
  
  .custom-button {
    /* Custom styles for the submit button */
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    /* Custom styles for button on hover */
    background-color: #23272b;
  }
  
  .custom-error {
    /* Custom styles for error messages */
    margin-top: 10px;
    font-size: 0.875rem;
    color: #dc3545;
  }
  
  .custom-link {
    /* Custom styles for the "Sign up" link */
    font-size: 0.875rem;
  }
  