
body{
  height: fit-content;
}

.custom-card {
  background-color: #f4f4f4; /* Background color for the card */
  border: 1px solid #b8c1ee; /* Border color */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center-align card content */
}

.custom-card-body {
  padding: 20px; /* Add padding for spacing within the card */
}

.custom-input {
  font-size: 14px; /* Adjust font size for input fields */
  text-align: center; /* Center-align input text */
}

.custom-button {
  background-color: #007bff; /* Button background color */
  border: none; /* Remove button border */
  color: #fff; /* Text color */
}

.custom-button:hover {
  background-color: #0056b3; /* Hover color for the button */
}

.custom-google-button {
  background-color: #db4a39; /* Google button background color */
  border: none; /* Remove button border */
  color: #fff; /* Text color */
}

.custom-google-button:hover {
  background-color: #c43225; /* Hover color for the Google button */
}

/* Center-align labels */
.form-label {
  text-align: center;
}

/* Center-align error message */
.text-danger {
  text-align: center;
}

/* Center-align link text */
.fs-6.text-center a {
  text-align: center;
  display: inline-block;
  margin-top: 10px; /* Add margin for spacing */
}

  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .col-md-6 {
      width: 100%;
    }
  }
  